
ol {
    position: relative;
    display: block;
    margin: 100px;
    height: 4px;
    background: #9b2;
}
ol::before,
ol::after {
    content: "";
    position: absolute;
    top: -8px;
    display: block;
    width: 0;
    height: 0;
    border-radius: 10px;
    border: 10px solid #9b2;
}
ol::before {
    left: -5px;
}
ol::after {
    right: -10px;
    border: 10px solid transparent;
    border-right: 0;
    border-left: 20px solid #9b2;
    border-radius: 3px;
}
